@import "./colors";

.clear-button {
	transition: opacity 0.2s ease-in-out;
	background: $blue;
	color: $white;
	margin: 0 1rem 1rem 1rem;
	border: none;
	display: block;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	font-family: interstate, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:hover {
		text-decoration: underline;
	}
	&:active,
	&:focus {
		background: $red;
		text-decoration: none;
	}
	&:focus {
		outline-color: $red;
	}
}
