@import "./colors";

$picker-width: 20rem;

.picker {
	width: $picker-width;
	background: $black;
	color: $white;
	display: flex;
	flex-flow: column nowrap;
	height: 100%;

	button {
		background: none;
		border: none;
		color: inherit;
		font-family: interstate, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 1.5rem;
		text-align: left;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		i {
			font-size: 2rem;
			margin-right: 0.25rem;
		}
	}

	ul {
		list-style: none;
		padding: 1rem 1rem;
		li {
			margin-bottom: 1rem;
		}
	}

	.points-of-interest {
		$width: $picker-width - 1rem;
		$bg: $blue;
		width: $width;
		background: $bg;

		position: fixed;
		top: 0;
		bottom: 0;
		left: -$width;
		transition: left 0.2s ease-out;
		display: flex;
		flex-flow: column nowrap;

		.title {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			padding: 0 1rem;
			margin: 1rem 0;

			button {
				background: $white;
				border: none;
				color: $blue;
				margin: 0 0.5rem 0 0;
				padding: 0.125rem;
				border-radius: 50%;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: center;
				width: 2.25rem;
				height: 2.25rem;
				i {
					font-size: 2rem;
					margin: 0;
				}
			}
			h2 {
				margin: 0;
				font-size: 1.5rem;
			}
		}

		&.open {
			left: 0;
			box-shadow: 2px 0 8px rgba($white, 0.15);
			transition: left 0.2s ease-in;
		}

		button {
			font-size: 1.25rem;
			.material-icons {
				font-size: 1em;
				align-self: flex-start;
			}
		}
	}

	.points-of-interest-list {
		flex: 1 1 auto;
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
