@import "./colors";

.picker {
	min-width: 20rem;
	background: $black;
	color: $white;
	display: flex;
	flex-flow: column nowrap;
	height: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding: 0.5rem 0;
		flex: 1 1 auto;

		button {
			background: none;
			border: none;
			display: block;
			color: $white;
			padding: 0.5rem 1rem;
			width: 100%;
			text-align: left;
			font-size: 1.25rem;
			font-family: interstate, sans-serif;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			&:hover {
				&,
				strong {
					color: $red !important;
					transition: 0.5s ease-in-out;
				}
			}

			&.active.served {
				&,
				strong {
					transition: 0.5s ease-in-out;
				}

				strong {
					color: $red;
				}
			}

			&.served {
				&,
				strong {
					transition: 0.5s ease-in-out;
				}

				strong {
					color: $blue;
				}
			}

			strong {
				margin-right: 0.5rem;
			}
		}
	}
}
